
$font-family1 :Helvetica, Arial, sans-serif;
$font-family2 :Segoe UI Historic;


// root url is source, although file url is correct
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";



@font-face {
    font-family: 'SFProDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf');

}


@font-face {
    font-family: 'SFProText-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FontsFree-Net-SFProText-Medium.ttf');

}
*{
    scrollbar-color: transparent;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #263040;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: transparent;
        opacity:4px;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }

}


.a_p_p_Login_Card {
    border-radius: 10px;
    background-color:white;

}



.a_p_p_Login_Image {
    border-top-left-radius: 10px;
    border-top-right-radius:10px;


}

.a_p_p_Login_Card_Notifications_Count {
    background-color: red;
    border-radius: 50px;
    padding-top:5px;
    padding-left:10px;
    color:white;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.a_p_p_Login_Name{
    text-align: center;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    opacity: .7;
    padding-top:15px;
}



.login-page.a_p_p_Input {
    direction: ltr;
    word-wrap: break-word;
    -webkit-appearance: none;
    margin: 0;
    background: #FFFFFF ;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 17px;
    padding: 24px 16px ;
    width: 330px;
    border-radius: 6px;
    font-family: Helvetica, Arial, sans-serif;

    &:focus{
        border-color:blue !important;
    }
}




.a_p_p_Container {
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    word-wrap: break-word;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 10px;
    font-family: inherit;
}

@mixin icon {
    height: 35px;
    width: 35px;
}
@mixin blue-button{
    direction: ltr;
    word-wrap: break-word;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background:radial-gradient(farthest-corner at 100% 0px, cyan 0%, blue 200%);
    border: none;
    border-radius: 26px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    font-family: Helvetica, Arial, sans-serif;
}
.login-page.a_p_p_Button {
    @include blue-button;
}

.a_p_p_Anchor{
    font-family: $font-family1;
}
.login-page.a_p_p_Anchor:hover {
    text-decoration: underline;
}


.login-page.a_p_p_Button.a_p_p_Create_New_Account  {
    direction: ltr;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    color: #fff;
    background: radial-gradient(farthest-corner at 100% 0px, cyan 0%, #42b72a 200%);
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 26px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}

.a_p_p_SiteMap_Anchor {
    color:blue;
    text-align: center;
    border:1px solid black;
    padding-left:3px;
    padding-right:3px;
    padding-top:5px;
    padding-bottom:5px;
    background:radial-gradient(farthest-corner at 40px 40px, white 0, cyan);
    // opacity: ;


    &:hover {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
        text-decoration: underline;
    }

    @media (max-width: 1193px){
        text-align: left;
        padding-left:20px;
        padding-top:10px;
        padding-bottom:10px;
    }
}



.a_p_p_SiteMapAnchorContainer{
    background:radial-gradient(farthest-corner at 40px 40px, white 0, cyan);
    border:1px solid black;

    &:hover {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
}


.a_p_p_ChosenLogin{
    background-color:white;

}

.a_p_p_ChosenLoginImg{
    background-color: #1c1e21;
    direction: ltr;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    word-wrap: break-word;
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: 44px -36px 0 0;
    width: 160px;
    height: 160px;
}


.a_p_p_ChosenOverlay{
    background-color: grey;
    opacity:.9
}

.a_p_p_BodyOverFlowHidden {
    overflow:hidden
}

.a_p_p_MainBackground {
    background:radial-gradient(farthest-corner at 40px 40px, white 0, cyan, green 100%)
}



$white: rgba(255,255,255,0.3);

@mixin HomeMisc{
    height: auto;
    overflow:auto;
}

@mixin outline{
    border: 3px dotted red;
}


@mixin strikeThrough{
    height: 1px;
    background-color: grey;
    width: 95%;

}
// debugging classes
.outline{
    @include outline
}
//

// utility classes
.f_a_c_e_b_o_o_k_{
    &Transparent{
        background:transparent
    }


}
//




.a_p_p_ {

    // component styles
    &ProfileCard{
        border-radius: 20px;
        @include glassmorphism;
        padding: 8px 8px 20px 8px;
        display:flex;
        flex-wrap: wrap;
        margin: 0 0 10px 0;


        &Pic{
            height:50px;
            width:50px;
            border-radius: 50px;
            border: 1px solid black;
        }

        &Name{
            font-family: $font-family2;
            font-weight: 700;
            margin: 0 0 0 20px;
            align-self: center;

            @media (max-width: 1193px){
                flex-grow: 1;
            }
        }

        &Add{
            margin:10px 10px 0 0;
        }

        &Remove{
            margin:10px 0 0 0;
            background-color: grey;
        }
    }
    //

    &Market{

        &Item{
            &Card{
                @include glassmorphism;

                &Img{
                    height:200px;
                    border-radius: 30px 30px 0 0;
                }
                &SubHeader,.p-card-body{
                    max-height: 157.933px;
                }
            }
        }
        &Pane{
            // position:fixed !important;
        }
        &Title{
            color:black;
            font-family: $font-family2;
            font-weight: bold;
        }

        &Input{

            background-color: #F2F3F5;
            border-radius: 50px;
            padding : 7px 32px;
            text-align: left;
            font-size: .9375rem;
            box-sizing: border-box;
        }


        &Card{

            &Container{
                width: 100%;
            }
            &Name{
                flex-grow: 1;
            }
            &Icon{

            }
        }
    }

    &Friends{
        &Title{
            color:black;
            text-align: left;
            margin: 0 0 20px 0 !important;
        }

        &Text{
            font-family: $font-family2;


        }
        &SubTitle{
            font: 700 24px $font-family2;
            margin: 0 0 10px 0 !important;
            color:black;
        }

        &Container{
            padding: 20px;
            opacity:1;

            &:nth-child(n){ //for the oddest reason
                display: flex;
                flex-direction: column;

            }


        }
    }


    &Nav {
        &Icon_Container {
            background-color:rgb(228, 230, 235);
            border-radius:50px;
            z-index: 2;
            // opacity:.4;
        }

        &Button {
            @include blue-button;
            // padding:0px 16px 20px 16px;
            line-height: 7px;
        }
    }

    &FacebookInput {
        padding: 1em;
        margin-bottom: 2em;
        border: none;
        border-left: 1px solid $white;
        border-top: 1px solid $white;
        border-radius: 500px;
        backdrop-filter: blur(5px);
        box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
        color: black;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        // transition: all 0.2s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);

        &:hover {
          background: rgba(255,255,255,0.1);
          box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
        }

        &[type="email"],
        &[type="password"] {

          &:focus {
            background: rgba(255,255,255,0.1);
            box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
          }
        }

        &[type="button"] {
          margin-top: 10px;
          width: 150px;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
          }

          &:active {
            background: rgba(255,255,255,0.2);
          }
        }
    }

    &subNav{
        display: flex;
        flex-direction: column;
        opacity:1;


    }

    &ItemIcon:nth-child(n){
        @include icon;
        border-radius: 50px;
        margin-left: 20px;
        // margin-top:7px;
    }

    &ItemText:nth-child(n){
        font-size: 16px;
        margin-left:15px;
        font-weight: 600;
        font-family : $font-family2
    }

    &ItemContainer{

        @include HomeMisc;
        min-height:50px;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
        width:95%;


        border-radius: 30px;
        // opacity: .5;
        backdrop-filter: blur( 4px );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );


        &:nth-child(n){
            margin-top: 10px;
        }

        &:nth-child(1){
            margin-top: 20px;
        }

        &Sponsored{
            min-height: 50px;


            &:last-child{
                margin-bottom:10px;
            }

            &SubHeading:nth-child(n){

                align-self: baseline;
                margin:10px 0 0 25px;
                font-size:25px !important;
                font-family: $font-family2  !important;
            }

            &Text{
                font-size:20px !important;
                font-weight: 700 !important;
                font-family: $font-family2  !important;
                margin:0 0 0 25px !important;
            }

            &Image:nth-child(n){
                height:55px;
                width:50px;
                margin:10px 0 10px 20px;
                border-radius: 10px;
            }


        }



    }

    &StrikeThrough{
        @include strikeThrough;
        margin:30px 0 20px 10px !important;
    }

    &CreatePost,&NewsFeed,&Sponsored,&yourPages,&Contacts{

        font-weight: 600 !important;
        &Button{
            @include blue-button;
        }
        &Modal{
            z-index:13 !important;

            &TextArea{
                border:transparent;
                padding:0 0 0 25px;
                font-family: $font-family2;
                &::placeholder{
                    font-family: $font-family2;
                }
            }
        }
        &Input{
            text-align: left;
            font-size:17px !important;
            margin:5px 10px 5px 10px !important;
            padding:10px 50px 10px 10px !important;

            &:focus,&:hover{
                background-color: rgba(105, 95, 95, 0.3);
            }
        }
        &SubHeading:nth-child(n){

            align-self: baseline;
            margin:10px 0 0 25px;
            font-size:25px !important;
            font-family: $font-family2  !important;

            &[class*="Contacts"]{
                width:100%
            }

            &[class*="CreatePost"]{
                margin :0 ;
                font-size:20px !important;
            }
        }

        &ItemContainer{

            @include HomeMisc;
            border-radius: 50px;
            display: flex;
            flex-direction: row;
            align-self: center;
            align-items: center;
            width:95%;



            border-radius: 30px;
            // opacity: .5;
            backdrop-filter: blur( 4px );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            border: 1px solid rgba( 255, 255, 255, 0.18 );


            &:nth-child(n){
                margin-top: 10px;
            }

            &:last-child{
                margin-bottom: 20px;
            }

            &[class*="yourPages"]{
                flex-wrap: wrap;
                padding-top: 10px;
            }

            &[class*="Contacts"]{
                backdrop-filter:none;
                box-shadow: none;
                border: none;
            }

        }

        &Icon:nth-child(n){
            height:35px;
            width:35px;
            margin:0px 0 0px 20px;
            border-radius: 50px;


            &[class*="Contacts"]{
                margin:10px 0 10px 20px !important;
            }
        }

        &Text{
            font-size:20px !important;
            font-family: $font-family2  !important;
            margin:0 0 0 25px !important;

            &[class*="Contacts"]{
                margin:10px 0 10px 25px !important;
                flex-grow: 1;
            }

            &[class*="NewsFeed"]{
                margin:5px 0 10px 15px !important;
                flex-grow: 1;
            }

            &[class*="CreatePost"]{
                font-size:15px !important;
                margin:0  !important;
            }
        }

        &Desc{

            &Container{
                @include HomeMisc;
                align-self: baseline;
                margin:10px 0 0 25px !important;
                flex-direction: column;
                flex-grow:3
            }

            &Text{
                font-size: 13px !important;
                font-family: $font-family2  !important;
                margin: 10px !important;
                font-weight: 700;
            }
        }

        &StrikeThrough{
            @include strikeThrough;
            margin: 5px 0 10px 0 !important;
        }
    }

    &HomeMisc{
        @include HomeMisc;
        &Container{
            // position:fixed;
            scrollbar-color: transparent;
            // &::-webkit-,&::-moz-,&::-o-{
            //     &scrollbar {
            //         width: 6px;
            //     }
            //     &scrollbar-track {
            //         background: transparent;
            //     }
            //     &scrollbar-thumb {
            //         border-radius: 10px;
            //         background: #263040;
            //     }
            //     &scrollbar-thumb:window-inactive {
            //         background-color: transparent;
            //         opacity:4px;
            //     }
            //     &scrollbar-corner {
            //         background: transparent;
            //     }
            // }
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #263040;
            }
            &::-webkit-scrollbar-thumb:window-inactive {
                background-color: transparent;
                opacity:4px;
            }
            &::-webkit-scrollbar-corner {
                background: transparent;
            }


        }
    }


    &Component{


        width:100%;
        height: auto !important;
        position:static !important;
        // height:300px


    }

    &Carousel {
        width: 100%;
        margin-top:10px;


        &AddFriendButton{
            margin-bottom: 10px;
            height:45px;
            flex:0 0 45px;
            width: 80%;
            padding:0.5rem
        }

        &Card{
            display:flex;
            height:300px;
            margin: 10px;
            flex-direction: column;
            align-items: center;
            // width:30%;
            background-color: transparent;
            @include  glassmorphism
        }

        .p-carousel-header{
            margin:0 20px 20px 0;

        }

        &Header{
            margin: 0 0 0 20px;
        }

        &Content{
            width:100%;
            margin: 0 10px 0 0;
            // @include glassmorphism
        }

        &Img{
            flex :2 0 130px;
            width:100%;
            border-radius: 30px 30px 0 0;
            height: 130px;
        }

        &ProfileName{
            font-family: $font-family2;
            width:90%;
            flex-grow :1;
            text-align: center;
        }


    }
}


// primeng modifications
.p-dropdown-items-wrapper{
    max-height: none !important;
}

.p-highlight{
    background-color: transparent !important;
}


//

